<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solaris</title>
</head>
<body>
    <center><div id='phaser-game'></div></center>

    <script src="https://code.jquery.com/jquery-3.5.0.js"  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="  crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <script type="text/javascript" src="js/phaser.js"></script>


    
    <script type="text/javascript" src="js/Solaris/config/gameUpdate.js"></script>
    <script type="text/javascript" src="js/Solaris/config/playersUpdate.js"></script>
    <script type="text/javascript" src="js/Solaris/config/enimesUpdate.js"></script>
    <script type="text/javascript" src="js/Solaris/config/attacksUpdate.js"></script>
    <script type="text/javascript" src="js/Solaris/config/playerAction.js"></script>

    <!-- Game Scenes and Configs-->
    <script type="text/javascript" src="js/Solaris/preload.js"></script>
    <script type="text/javascript" src="js/Solaris/game.js"></script>
    <script type="text/javascript" src="js/Solaris/config/config.js"></script>

    

</body>
</html>