<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FantasyWorld</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen" />

</head>
<body>
    <div>
        <h2>Bem vindo a FantasyWorld!</h2>
        
        <center>
            <div class="buttons">
                <a href="/login">Logar agora!</a> 
                <a href="/register">Cadastrar agora!</a>
            </div>
         </center>
        
    </div>


</body>
</html>